:root{
  --primary: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --red:  hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --dark-violet: hsl(278, 68%, 11%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}
main{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section-1{
  position: relative;
}
.section-1 .bg-mobile{
  width: 100%;
}
.section-1 .card-back img{
   width: 70%;
} 
.section-1 img[alt="bg-card-front"] {
  width: 75%;
}
.section-1 .card-back{
  background-image: url("images/bg-card-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  max-width: 250px;
  height: 150px;
  border-radius: 4px;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
} 
.card-back p{
  /* position: absolute;
  top: 4.25rem;
  right: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: var(--white);  */
  font-size: 10px;
} 
.card-front{
  background-image: url("images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 280px; 
  height: 150px;
  border-radius: 4px;
  position: absolute;
  top: 6.8rem;
  left: 1rem;
}  
/* .section-1 .card-back{
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  
} */
/*.section-1 > p{
  position: absolute;
  top: 5.4rem;
  right: 3rem;
  z-index: 1;
  font-size: 10px;
  color: var(--white);
} */
/* .card-front{
  position: absolute;
  bottom: 8rem;
  left: 1rem;
  max-width: 380px;
} */
.card-front-info{
  
  color: var(--white);
  padding: 1rem;
 
} 
.circles{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.white-circle{
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background-color: var(--white);
  
}
.transparent-circle{
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  border: 0.75px solid var(--white);
  background-color: transparent;
}
.card-front-info .card-num{
  letter-spacing: 0.1rem;
  padding: 1rem 0;
}
.card-front-info .card-details{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.section-2{
  width: 90%;
  margin: auto;
}
label{
  color: var(--dark-violet);
  font-size: 14px;
  font-size: bold;
  letter-spacing: 0.05rem;;
}
input{
  width: 100%;
  padding: 0.5rem 0.7rem;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 6px;
  
}
input:hover{
  border-color: var(--primary);
}
.exp-block{
  display: flex;
  gap: 0;
}
.form-exp{
  width: 100%;
  
}
#exp-date{
  width: 30%;
}
#cvc{
  width: 100%;
}
#submit-btn{
  width: 100%;
  background-color: var(--dark-violet);
  color: var(--white);
  padding: 0.75rem;
}
#submit-btn:hover{
  cursor: pointer;
}
span{
  color: var(--red);
  font-size: 0.75rem;
  visibility: hidden; 
}
.form-val.error span{
  visibility: visible;
}
.form-val.error input{
  border-color: var(--red);
}
.form-val.success input{
  border-color: var(--primary);
}


.section-3{
  text-align: center;
  width: 90%;
  margin: auto;
}
.section-3 h2{
  margin: 1.5rem 0 1rem;
  letter-spacing: 0.1rem;
}
.section-3 button{
  width: 100%;
  background-color: var(--dark-violet);
  color: var(--white);
  padding: 0.75rem;
  border-radius: 0.4rem;
  letter-spacing: 0.05rem;
  margin: 2rem 0;
}


@media screen and (min-width: 600px) {
  main{
    display: grid;
    grid-template-columns: 40% 60%;
    /* flex-direction: row; */
  }

  .section-1 .card-back{
    top: 16.5rem;
    left: 11.5rem;
    max-width: 280px;
  }
  .section-1 .card-front{
    top: 6rem;
    left: 8rem;
  }
  .section-2, .section-3{
    width: 50%;
  }
}